.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: "/"}= t("phone_catalog")
      %ul.nav
        %li{class: ("active" if current_page == :vendors)}
          %a{href: "/"}= I18n.t("vendors")
        %li{class: ("active" if current_page == :search)}
          %a{href: "/search"}= I18n.t("search")