.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: root_path}= t("phone_catalog")
      %ul.nav
        %li{class: ("active" if current_page?(root_path) || current_page?(controller: :vendors, action: :index))}
          %a{href: root_path}= I18n.t("vendors")
        %li{class: ("active" if current_page?(controller: :phones, action: :index))}
          %a{href: "#{root_path}search"}= I18n.t("search")