#phones li {

  height: 250px;

  text-align: center;

  > div {
    @include border-radius(5px);
    cursor: pointer;
    border: 2px solid transparent;
    vertical-align: middle;
  }

  > div:hover {
    border: 2px solid #08C;
  }

  a {
    text-decoration: none;
  }
}