.phones li {
  text-align: center;
  height: 240px;

  .img-wrap {
    height: 200px;
    line-height: 200px;
  }

  a {
    text-decoration: none;
  }
}

td.value {
  text-align: right;
}